.header {
  color: white;
  font-size: 90px;
  width: 650px;
  position: absolute;
  left: 45%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.header_row {
  height: 100vh;
}

.profile_image_container img {
  width: 850px;
  position: relative;
  /* right: 0; */
  top: 0px;
  left: 35%;
}

#about_container {
  margin-top: 700px;
  padding-bottom: 600px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
