.header_row {
  height: 100vh;
}

.header {
  color: white;
  font-size: 90px;
  width: 850px;
  position: relative;
  left: 45%;
  top: 360px;
  transform: translate(-50%, -50%);
}

.contact_container {
  color: white;
  position: relative;
  top: 12.5rem;
  left: 23%;
  font-size: 35px;
  width: 50%;
  padding-bottom: 250px;
}

.contact_container p {
  font-size: 15px;
}

.contact_container span,
.contact_container a {
  display: block;
  color: red;
  margin-bottom: 10px;
  text-decoration: none;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */
  .header {
    left: 45%;
    font-size: 45px;
    width: 255px;
  }
  /* 
  #about_container {
    width: 100%;
    left: 90%;
    margin-top: 600px;
  } */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}
