#logo {
  position: fixed;
  top: 4.75rem;
  right: 10.75rem;
  z-index: 1000;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */
  #logo {
    /* right: 10.75rem; */
    /* top: 100px; */
    /* left: 200px; */
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}
