.welcomeText {
  color: white;
  position: absolute;
  font-size: 6rem;
  top: 6.25rem;
  left: 10.5rem;
  cursor: pointer;
}

.welcomeText span {
  display: block;
}

.welcomeTextTwo,
.welcomeTextThree {
  color: red;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */
  .welcomeText {
    font-size: 3rem;
    left: 5rem;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles */
  .welcomeText {
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .welcomeText {
    left: 40%;
  }
}
