.welcomeText {
  position: fixed;
  font-size: 6rem;
  top: 6.25rem;
  left: 18.5rem;
  cursor: pointer;
}

.welcomeText span {
  display: block;
}

.welcomeTextOne {
  color: white;
  text-decoration: none;
}

.welcomeTextTwo,
.welcomeTextThree {
  color: red;
  text-decoration: none;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */
  .welcomeText {
    font-size: 3rem;
    left: 5rem;
    top: 28%;
    z-index: 100;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles */
  .welcomeText {
    left: 7rem;
    top: 25%;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  .welcomeText {
    left: 27%;
  }
}
